* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.topBar {
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row; /*row valor padrão*/
    justify-content: space-around; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
}

.smallLogo {
    width: 5vh; /*vh se baseia no visual port da página*/
}

.centerLogo {
    width: 30vh;
}

.optionsBTNs {
    display: flex;
    flex-direction: row;
    gap: 0px 10px; /*espaçamento entre os elementos, dependendo da direção*/
}

.btnItem {
    color: white;
    border: 1px outset white;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px
}

.btnItem:hover {
    cursor: pointer;
    border: 1px outset #ca0136;
    transition: .3s;
}
